@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.center {
  text-align: center;
}

.icon {
  line-height: 50%;
}

.row {
  margin: 0 -5px;
}

.cards {
  grid-gap: 1rem;
  margin: 1rem 2rem;
}
  
.card {
  border-radius: 25px;
  padding: 16px;
  text-align: center;
  background-color: #dbf1f0;
  list-style: none;
  padding-top: 35px;
  height: 250px;
  width: 100%;
} 

#button {
  border-radius: 22px;
  height:60px;
  width:60px;
}

.punchline {
  font-weight: normal
}